body {
	background-color: black;
	color: lightgray;
	font-family: Tahoma;
	
}

h1 {
	font-size: 1em;
	font-weight: bold;
	color: gray;
	margin: auto;
	padding-bottom: 14px;
}

.wrapper {
	display: flex;
	justify-content: center;	
	align-items: center;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	height: 340px;
	width: 550px;
	max-width: 550px;
	max-height: 550px;
	min-width: 385px;
	min-height: 510px;
}

.main_output {
	display: flex;
	justify-content: space-between;
	min-height: 24px;
	padding-left: 22px;
	padding-right: 22px;	
	padding-top: 10px;
	padding-bottom: 8px;
	background-color: #333333;
	border-radius: 2px;
}

.output {	
	font-size: 1.15em;
	font-weight: bold;
	color:  white;
}

.output:empty:before {
	content: attr(data-placeholder);
	color: gray;
}

#copy {
	display: flex;
	scale: .9;
	transform: translateX(4px);
	color: lightcoral;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

#cpText {
	position: absolute;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 0.53em;
	color: lightcoral;
	margin: 6px 22px;
	-webkit-transition: .5s;
	opacity: 0;
	margin-left: -31px;
}

#cpText.clicked {
	margin-left: -50px;
	opacity: .9;
}

.main { 
	margin-top: 12px;
	padding: 22px;
	padding-top: 0px;
	background-color: #333333;
}

#main_len {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 10px;
}

#out_len {
	font-size: 1.4em;
	font-weight: bold;
	color: lightcoral;
}

#range_len {
	-webkit-appearance: none;
	width: 100%;
	height: 8px;
	background: #222222;
	outline: none;
	margin-bottom: 10px;
}

#range_len::-moz-range-thumb {
	width: 17px;
	height: 17px;
	border: 0.15em solid white;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}

#range_len::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 0.15em solid white;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}

#range_len::-moz-range-thumb:hover {
	border: 0.15em solid lightcoral;
	background: #222222;
}

#range_len::-webkit-slider-thumb:hover {
	border: 0.15em solid lightcoral;
	background: #222222;
}

#range_len::-moz-range-thumb:active {
	border: 0.15em solid lightcoral;
	background: #222222;
}

#range_len::-webkit-range-thumb:active {
	border: 0.15em solid lightcoral;
	background: #222222;
}

#range_len::-moz-range-progress {
	height: 8px;
	background-color: lightcoral;
}

.checkbox {
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	background-color: #333333;
	width: 1.15em;
	height: 1.15em;
	border: 0.13em solid white;
	transform: translate(0.05em, 0.3em);
	margin-right: 10px;
	cursor: pointer;
}
.checkbox:checked {
	background-color: lightcoral;
	border: 0.13em solid lightcoral;
}

.checkbox:hover {
	border: 0.13em solid lightcoral;
}

.checkbox::before {
	display: block;
	content: "\2714";
	font-size: 13;
	position: absolute;
	color: white;	
	transform: translate(1px, -3px);
	opacity: 0;	
}

input[type="checkbox"]:checked::before {
	opacity: 1;
}

#include {
	line-height: 1.6;
	padding: 0px;
	transform: translateX(-4px);
}

#include input {	
	margin-top: 3px;
}

.main_strength {	
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 24px;
	margin-bottom: 16px;
	padding: 13px;
	background-color: #222222;
}

.strength {
	font-size: .7em;
	font-weight: bold;
	color: gray;
}

.main_level {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.level {
	font-size: 1em;
	font-weight: bold;
	margin-right: 5px;
}

.rect1 {
	display: flex;
	justify-content: right;
	height: 17px;
	width: 5px;
	border: 0.15em solid lightgray;
	background-color: #222222;	
	margin-left: 5px;
}

.rect2 {
	display: flex;
	justify-content: right;
	height: 17px;
	width: 5px;
	border: 0.15em solid lightgray;
	background-color: #222222;	
	margin-left: 5px;
}

.rect3 {
	display: flex;
	justify-content: right;
	height: 17px;
	width: 5px;
	border: 0.15em solid lightgray;
	background-color: #222222;	
	margin-left: 5px;
}

.rect4 {
	display: flex;
	justify-content: right;
	height: 17px;
	width: 5px;
	border: 0.15em solid lightgray;
	background-color: #222222;	
	margin-left: 5px;
}

#button{
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
	font-weight: bold;
	font-family: Tahoma;
	color: #222222;
	background-color: lightcoral;
	text-decoration: none;
	width: 100%;
	padding: 14px 0px;
	border-style: solid;
	border-color: lightcoral;
	margin-top: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

#button:active {
	opacity: 0.6;
	transition: none;
}

#button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

#button:hover {
	background-color: #333333;
	color: lightcoral;
}